<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Delayed Job Web</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/material.css" />
  </head>
  <body>
  <div id="wrap">
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Jobs</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="<%= u('/overview') %>">Overview</a></li>
      <li><a href="<%= u('/enqueued') %>">Enqueued</a></li>
      <li><a href="<%= u('/working') %>">Working</a></li>
      <li><a href="<%= u('/pending') %>">Pending</a></li>
      <li><a href="<%= u('/failed') %>">Failed</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <input name="queues" type="text" value="<%=h @queues.join(", ") %>" style="width: 300px;" class="form-control col-lg-8" placeholder="Search for queues" />
    </form>
  </div>
</div>
    <div class="container" id="main">
        <div class="row">
      <%= yield %>
        </div>
    </div>
    <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Powered by <a href="https://github.com/collectiveidea/delayed_job">delayed_job</a> and <a href="https://github.com/skcript/better_delayed_job_web">better_delayed_job_web</a>.</p>
      </div>
    </div>

    <script src="<%= u("javascripts/jquery-1.11.2.min.js") %>" type="text/javascript"></script>
    <script src="<%= u("javascripts/jquery.relatize_date.js") %>" type="text/javascript"></script>
    <script src="<%= u("javascripts/application.js") %>" type="text/javascript"></script>
    <script src="<%= u("javascripts/bootstrap.min.js") %>" type="text/javascript"></script>
    <script src="<%= u("javascripts/material.js") %>" type="text/javascript"></script>
  </body>
</html>