<li class="list-group-item">
<!-- New Table Interface -->
<table class="overview table table-striped table-hover">
  <tbody><tr>
    <th>Info</th>
    <th>Details</th>
  </tr>
  <tr>
    <td class="status">
      ID
    </td>
    <td class="status">
      <a href="#<%= job.id %>"><%=h job.id %></a>
    </td>
  </tr>
  <tr>
    <td class="status">
      Priority
    </td>
    <td class="status">
      <%=h job.priority %>
    </td>
  </tr>
  <tr>
    <td class="status">
      Attempts
    </td>
    <td class="status">
      <%=h job.attempts %>
    </td>
  </tr>
  <% if job.respond_to?(:queue) && job.queue %>
  <tr class="failure">
    <td class="status danger">
      <a href="/delayed_job/failed">Queue</a>
    </td>
    <td class="status danger">
      <%=h job.queue %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
<!-- End of New Table Interface -->
<hr>
<!-- Begin the amazing controls -->
<div class="controls">
<div class="col-md-4 job-actions">
  <form action="<%= u("requeue/#{job.id}") %>" method="post"><%= csrf_token_tag %>
  <button type="submit" value="Retry" class="btn btn-primary">Retry</button>
  </form>
  </div>
  <div class="col-md-4 job-actions">
  <form action="<%= u("remove/#{job.id}") %>" method="post"><%= csrf_token_tag %>
  <button type="submit" value="Remove" class="btn btn-danger">Remove</button>
  </form>
  </div>
  <div class="col-md-4 job-actions">
  <form action="<%= u("reload/#{job.id}") %>" method="post"><%= csrf_token_tag %>
  <button type="submit" value="Reload" class="btn btn-default">Reload</button>
  </form>
  </div>
</div>
<!-- End of the amazing controls -->
  <dl>
    <dt>Handler</dt>
    <dd>
    <pre><%=h job.handler %></pre>
    </dd>
    <% if job.last_error %>
      <dt>Last Error</dt>
      <dd>
        <div class="backtrace">
          <pre><%=h job.last_error[0..100] + '...' %></pre>
        </div>
        <a class="backtrace" href="#">Toggle full message</a>
        <div class="backtrace full hide">
          <pre><%=h job.last_error %></pre>
        </div>
      </dd>
    <% end %>
    <% if job.run_at %>
      <dt>Run At</dt>
      <dd class="time">
        <%=h job.run_at.rfc822 %>
      </dd>
    <% end %>
    <% if job.locked_at %>
      <dt>Locked At</dt>
      <dd class="time">
        <%=h job.locked_at.rfc822 %>
      </dd>
    <% end %>
    <% if job.locked_by %>
      <dt>Locked By</dt>
      <dd>
        <%=h job.locked_by %>
      </dd>
    <% end %>
    <% if job.failed_at %>
      <dt>Failed At</dt>
      <dd>
        <%=h job.failed_at %>
      </dd>
    <% end %>
  </dl>
</li>
